th.shapka {
    background-color: aquamarine;
}

th.nosok {
    background-color: plum;
}

table {
    border: 3px color black;
}

tr {
    border: 3px solid black;
    background-color: rgb(255, 255, 255);
}

th {
}

div {
    position: fixed;
    background-color: black;
    margin-right: 1155px;
}